  <h3>We are a community of book nerds.</h3>
  <img src="/img/book-me.jpg" class="img-responsive img-circle" style="display:inline" alt="Book" width="400" height="400">
  <h3>This is a place where people can exchange/share their books with each other.</h3>

